<style>
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: cornsilk;
    background-color: chocolate;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 450px;
}

.social-media .box .icon {
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.box a {
    color: white;
    text-decoration: none;
}

.box a:hover i {
    color: rgb(63, 102, 207);
    text-decoration: none;
}

</style>

<div class="footer">

    <div class="social-media">

        <div class="box">
            <div class="icon">
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fa fa-instagram" aria-hidden="true"></i>

                    <div class="text">
                        <h3>Instagram</h3>
                        <p>@Skroutz</p>
                    </div>
                </a>
            </div>
            
        </div>

        <br><br><br><br><br><br>

        <div class="box">
            <div class="icon">
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>

                    <div class="text">
                        <h3>Facebook</h3>
                        <p>Skroutz</p>
                    </div>
                </a>
            </div>
        </div>

    </div>


    <h2>Copyright Spyretos 2022</h2>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3145.076585713962!2d23.73416681532345!3d37.97534197972351!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a1bd3edde3ff65%3A0xf09b8f1ed602e36c!2zzpvOtc-Jz4YuIM6SzrHPg865zrvOr8-Dz4POt8-CIM6RzrzOsc67zq_Osc-CIDEzMywgzpHOuM6uzr3OsSAxMDUgNTc!5e0!3m2!1sel!2sgr!4v1646935226107!5m2!1sel!2sgr" width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
