<%- include('./partials/header.ejs') %>

<link href="/cart.css" rel="stylesheet" type="text/css">
<body>

	<%- include('./partials/nav.ejs') %>

    <br><br><br>

    <% if (session.cart && session.cart.totalQuantity > 0) { %>
        <h3>There are <%= session.cart.totalQuantity %> items in your cart.</h3>
    <% } else { %>
        <h3>Your cart is empty.</h3>
    <% } %>
</body>

<br><br>

	   
<%- include('./partials/footer.ejs') %>

