<link href="/categories.css" rel="stylesheet" type="text/css">

<html>
	
	<%- include('./partials/header.ejs') %>
	<body>

		<%- include('./partials/nav.ejs') %>

		<div class="grid-container">

			<div class="grid-item">
				<div class="tech">
					<h2><a href="/tech">Technology</a></h2>
					<br>
					<p><a href="/phones">Cellphones</a></p>
					<p><a href="/phone-cases">Cellphone Cases</a></p>
					<p><a href="/laptops">Laptops</a></p>
				</div>
			</div>

			<div class="grid-item">
				<h2><a href="/fashion">Fashion</a></h2>
				<br>
				<p><a href="/fashion">Cellphones</a></p>
				<p><a href="/fashion">Cellphone Cases</a></p>
				<p><a href="/fashion">Laptops</a></p>
			</div>

			<div class="grid-item">
				<h2><a href="/carsmoto">Automotive</a></h2>
				<br>
				<p><a href="/carsmoto">Cellphones</a></p>
				<p><a href="/carsmoto">Cellphone Cases</a></p>
				<p><a href="/carsmoto">Laptops</a></p>
			</div>

		</div>

	   
		<%- include('./partials/footer.ejs') %>
	
	</body>

</html>
