<style>
    .contact {
        min-height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: black;
    }
    
    .contact .content {
        max-width: 800px;
        text-align: center;
    }
    
    .contact .content h2 {
        font-size: 36px;
        font-weight: 500;
    }
    
    .contact .content p {
        font-weight: 300;
    }
    
    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
    
    .container .contactInfo {
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    
    .container .contactInfo .box {
        position: relative;
        padding: 20px 0;
        display: flex;
    }
    
    .container .contactInfo .box .icon {
        min-width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
    }
    
    .container .contactInfo .box .text {
        display: flex;
        font-size: 16px;
        margin-left: 20px;
        flex-direction: column;
        font-weight: 300;
    }
    
    .container .contactInfo .box .text h3 {
        font-weight: 500;
        color: cadetblue;
    }


    .contact {
        background-color: rgb(241, 240, 236);
    }

    .cont-form {
        background-color: bisque;
        padding: 50px 50px;
    }


    .container .contactInfo .box .icon a {
        display: flex;
        color: rgb(61, 79, 160);
        text-decoration: none;
        font-weight: bold;
        margin: 10px 8px;

        
    }

    .container .contactInfo .box .icon a i {
        margin-top: 30px;
    }

    .shelf-with-offers a:hover {
        color: rgb(0, 0, 0);
        text-decoration: none;
    }
    
</style>

<html>


    <%- include('./partials/header.ejs') %>

    <body>

        <%- include('./partials/nav.ejs') %>


		<section class="contact">
			<div class="content">
				<h2>Contact Us</h2>
                <p>
                    We are a team of new people who are interested to help you find the BEST offers. 
                    <br>
                    Please feel free to visit us on office or contact with us on our e-mail or on phone.
                </p>
            </div>
            <div class="container">
                <div class="contactInfo">
                    
                    <div class="box">
                        <div class="icon">
                            <a href="https://goo.gl/maps/4u27q9cVGe6NgufS6" target="_blank">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>

                                <div class="text">
                                    <h3>Address</h3>
                                    <p>Λεωφ. Βασιλίσσης Αμαλίας 133, Αθήνα 105 57</p>
                                </div>
                            </a>
                            
                        </div>
                        
                    </div>

                    <div class="box">
                        <div class="icon">
                            <a href="tel:+302102102102">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <div class="text">
                                    <h3>Phone</h3>
                                    <p>+30 210-2102102</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="box">
                        <div class="icon">
                            <a href="mailto:someone@example.com">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <div class="text">
                                    <h3>E-mail</h3>
                                    <p>random-mail@gmail.com</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>


                <form class="cont-form">
                    <input type="text" class="field" required="required" placeholder="Your Name">
                    <br><br>
                    <input type="mail" class="field" required="required" placeholder="Your Email">
                    <br><br>
                    <input type="text" class="field" placeholder="Phone">
                    <br><br>
                    <textarea placeholder="Message" class="field"></textarea>

                    <br><br><br>

                    <div class="inputBox">
                        <input type="submit" value="Send">
                    </div>
                </form>
				
			</div>
        </section>
    
        <%- include('./partials/footer.ejs') %>
    
    </body>

</html>