<link href="/contact.css" rel="stylesheet" type="text/css">
<%- include('./partials/header.ejs') %>

<body>

	<%- include('./partials/nav.ejs') %>

	<section class="contact">
		<div class="content-div">
			<h2>Contact Us</h2>
			<p>
				We are a team of new people who are interested to help you find the BEST offers. 
				<br>
				Please feel free to visit us on office or contact with us on our e-mail or on phone.
			</p>
		</div>
		<div class="contact-container">

			<form class="contactForm">
				<input type="text" class="field" required="required" id="name" placeholder="Your Name">
				<input type="mail" class="field" required="required" id="email" placeholder="Your Email">
				<textarea class="field" placeholder="Message" required="required" id="message"></textarea>


				<button type="button" class="submitButton" onclick="sendEmail()">Send Message</button>
			</form>
			
		</div>
	</section>


	<div id="toast-container" class="toast-container"></div>

	<script type="text/javascript" src="/contact.js"></script>
</body>

<%- include('./partials/footer.ejs') %>