<%- include('./partials/header.ejs') %>

<link href="/eachproduct.css" rel="stylesheet" type="text/css">
<body>
	<%- include('./partials/nav.ejs') %>

	<br><br><br>



	<!-- <div class="products-container" id="products-container">
		<!-- Categories will be added here dynamically -->
		<!-- <h1>Products</h1>
		<section class="index-product" id="index-product"> -->
			

		
		<!-- </section>
	</div> -->
</body>

<script>
	// Fetch products from the server and render them on the page
	async function fetchProductInfo() {
		try {
			const response = await fetch(window.location.href +'/info');
			const products = await response.json();

			console.log(response, products);

			// const productsContainer = document.getElementById('index-product');

			
			// // Render categories dynamically
			// products.forEach(info => {

			// 	const productDiv = document.createElement('a');
			// 	productDiv.href = window.location.href + "/" + `${info.name}`;

			// 	productDiv.innerHTML = `
			// 		<img src="${product.imageurl}">
			// 		<h2>${product.name}</h2>
			// 		<div class="price">${product.price}</div>
			// 	`;

			// 	productDivBox = productDiv.classList.add('index-product-box');
			// 	productsContainer.appendChild(productDiv);
			// });
		} catch (error) {
			console.error('Error fetching products: ', error);
		}
	}

	// Call the function to fetch and display products when the page loads
	fetchProductInfo();
</script>

<%- include('./partials/footer.ejs') %>