<style>
    .deal_of_the_day {
      max-width: 300px;
      margin: auto;
      width: 50%;
      height:17%;
      background: cadetblue;
      color: cornsilk;
      
      padding: 5px 0;
    }
    
    .deal {
        text-align: center;
    }
    
    .best-offers {
        margin: 20px;
    }
    
    .shelf-with-offers {
        display: flex;
        width: 100%;
        height: 400px;
        list-style-type: none;
        margin: 20;
        padding: 0;
        overflow: hidden;
    }
    
    img {
        width:250px;
        height:300px;
    }
    
    
    .shelf-item img {
        width: 80%;
    }
    
    .shelf-item {
        width: 100%;
        background-color: white;
        height: 350px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin: 0px 8px;
        border: 1px solid rgb(238, 233, 233);
        border-radius: 4px;
        width: 350px;
        text-align: center;
    }
    
    .shelf-item p {
        width: 300px;
        text-align: center;
    }
    
    .shelf-with-offers a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-weight: bold;
    }
    
    .shelf-with-offers a:hover {
        color: rgb(0, 0, 0);
        text-decoration: none;
    }
    
    
    
    </style>
    
<html>
    
    <%- include('./partials/header.ejs') %>
    <body>

        <%- include('./partials/nav.ejs') %>
       
        <br>

        <div class="deal">
            <div class="deal_of_the_day">
                <h3>AMAZING DEAL ENDS IN:</h3>
                <h1><p id="demo"></p></h1>
                
            </div>

            <img src="https://img.joomcdn.net/5fe8ab30cbfdaa8c063436145a0e6352d761f828_original.jpeg">

        </div>

        <br><br>

        <div class="best-offers">
            <h3>Προϊόντα σε προσφορά</h3>
            
            <ul class="shelf-with-offers">
                <li class="shelf-item">
                    <a title="Nike Ανδρικά Παπούτσια για Τρέξιμο Downshifter 9 AQ7481-002" href="https://www.intersport.gr/andrika/papoutsia/treximo/nike-andrika-papoutsia-gia-treximo-downshifter-9_621786/">
                        <img src="https://intersport.lhscdn.com/uploads/resources/190117/image-enlarge.jpg?lm=4090C2F534EAA90C8D7C97874A31A6E4">
                        
                        <div class="container">
                            <p>Nike Ανδρικά Παπούτσια για Τρέξιμο Downshifter 9 AQ7481-002</p>
                        </div>
                    </a>
                </li>

                <li class="shelf-item">
                    <a title="Nike Ανδρικά Παπούτσια για ΟΧΙ Τρέξιμο Downshifter 9 AQ7481-002" href="https://www.intersport.gr/andrika/papoutsia/treximo/nike-andrika-papoutsia-gia-treximo-downshifter-9_621786/">
                        <img src="https://intersport.lhscdn.com/uploads/resources/190117/image-enlarge.jpg?lm=4090C2F534EAA90C8D7C97874A31A6E4">

                        <div class="container">
                            <p>Nike Ανδρικά Παπούτσια για Τρέξιμο Downshifter 9 AQ7481-002</p>
                        </div>
                    </a>
                </li>

                <li class="shelf-item">
                    <a title="Nike Ανδρικά Παπούτσια για Βουνό Downshifter 9 AQ7481-002" href="https://www.intersport.gr/andrika/papoutsia/treximo/nike-andrika-papoutsia-gia-treximo-downshifter-9_621786/">
                        <img src="https://intersport.lhscdn.com/uploads/resources/190117/image-enlarge.jpg?lm=4090C2F534EAA90C8D7C97874A31A6E4">
                    </a>
                </li>
            </ul>    
            
        </div>

    <script>
        // Set the date we're counting down to
        //var countDownDate = new Date("Jan 5, 2022 15:37:25").getTime();
        const today = new Date()
        const tomorrow = new Date(today)
        tomorrow.setDate(tomorrow.getDate() + 1)
        tomorrow.setHours(0,0,0,0);
        var countDownDate = tomorrow;

        // Update the count down every 1 second
        var x = setInterval(function() {

            // Get today's date and time
            var now = new Date().getTime();
                
            // Find the distance between now and the count down date
            var distance = countDownDate - now;
                
            // Time calculations for hours, minutes and seconds
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                
            // Output the result in an element with id="demo"
            document.getElementById("demo").innerHTML = hours + "h "
            + minutes + "m " + seconds + "s";
                
            // If the count down is over, write some text 
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("demo").innerHTML = "EXPIRED";
            }
        }, 1000);
    </script>

    
        <%- include('./partials/footer.ejs') %>
    
    </body>

</html>
