<link href="/insertproduct.css" rel="stylesheet" type="text/css">

<html>
	
	<%- include('./partials/header.ejs') %>
	<body>

		<%- include('./partials/nav.ejs') %>
	   
		<br>

		<h2>Add Item to Database</h2>

		<form id="addItemForm">
			<label for="prodName">Product Name</label>
			<input type="text" id="prodName" name="prodName" required><br><br>

			<label for="prodDescription">Product Description</label>
			<textarea id="prodDescription" name="prodDescription" rows="4" required></textarea><br><br>

			<label for="prodCategory">Product Description</label>
			<select id="prodCategory" name="prodCategory">
				<option value="1">Electronics</option>
				<option value="2">Fashion</option>
				<option value="3">Car & Moto</option>
				<option value="4">Home</option>
			</select><br><br>

			<label for="prodBrand">Product Brand</label>
			<input type="text" id="prodBrand" name="prodBrand" required><br><br>

			<label for="prodPrice">Product Price</label>
			<input type="number" id="prodPrice" name="prodPrice" step="0.01" required><br><br>

			<label for="prodYear">Product Year</label>
			<input type="number" id="prodYear" name="prodYear" min="1900" max="2023" step="1" value="2023" required><br><br>

			<button type="button" onclick="addItem()">Add Item</button>
		</form>

<script>
	async function addItem() {

		const prodName = document.getElementById('prodName').value;
		const prodDescription = document.getElementById('prodDescription').value;
		const prodCategory = document.getElementById('prodCategory').value;
		const prodBrand = document.getElementById('prodBrand').value;
		const prodPrice = document.getElementById('prodPrice').value;
		const prodYear = document.getElementById('prodYear').value;

		// console.log(window.location.href);
		// console.log(window.location.href + '/addProduct');


		try {
			const response = await fetch(window.location.href + '/addProduct', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
				},
				body: JSON.stringify({prodName, prodDescription, prodCategory, prodBrand, prodPrice, prodYear})
			});

			if (response.ok) {
				alert('Item added to the database successfully!');
			} else {
				alert('Failed to add item to the database.');
			}
		} catch (error) {
			console.error('Error:', error);
			alert('An error occurred while adding the item to the database.');
		}
	}
</script>


	<%- include('./partials/footer.ejs') %>
	
	</body>

</html>