<html>
	<%- include('./partials/header.ejs') %>

	<body>
		<link rel="stylesheet" type="text/css" href="/views/style/products.css">

		<%- include('./partials/nav.ejs') %>

		<div class="container">
			<h1>Items List</h1>
			<ul>
				<li>Something Cool</li>
				<li>Something More</li>
			</ul>
		</div>

	
		<%- include('./partials/footer.ejs') %>
	
	</body>

	<script>

		async function getBrandFilters() 
		{
			// Fetch categories from the server and render them on the page
			
			try {
				const response = await fetch('/products/brands');
				const brands = await response.json();

				console.log(brands);
	
			} catch (error) {
				console.error('Error fetching categories:', error);
			}
		}



		function myFunction() 
		{
			var ScheckBox = document.getElementById("SamsungFilter");
			var XcheckBox = document.getElementById("XiaomiFilter");
			var Stext = document.getElementById("Stext");
			var Xtext = document.getElementById("Xtext");

			if (ScheckBox.checked == true)
			{
				Stext.style.display = "block";
			}
			else if (XcheckBox.checked == true)
			{
				Xtext.style.display = "block";
			}
			else 
			{
				Stext.style.display = "none";
				Xtext.style.display = "none";
			}
		}



		// Call the function to fetch and display categories when the page loads
		getBrandFilters();
	</script>

</html>