<%- include('./partials/header.ejs') %>

<link href="/search.css" rel="stylesheet" type="text/css">
<body>

	<%- include('./partials/nav.ejs') %>

	<br><br><br>

    <h1>Search</h1>

	
</body>


<%- include('./partials/footer.ejs') %>