body {
	text-align: center;
	margin: auto;
}


h3 {
	font-size: 26px;
	line-height: 32px;
	color: #fff;
	font-family: Roboto;
	font-weight: 600;
	text-transform: uppercase;
}



.cart-container {
    width: 100%;
    padding: 20px;
}

.cart-items {
    list-style-type: none;
    padding: 0;
	color: #fff;
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}

.product-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 15px;
}

.product-details {
    flex: 1;
}

.quantity-controls {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.quantity-btn {
    background: #f0f0f0;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.trash-btn {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.cart-total {
    margin-top: 20px;
    font-weight: bold;
	color: #fff;
}