body {
    margin: 0;
    font-family: Poppins;
}

.products-container {
    padding-top: 70px;
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-direction: column; /* Ensure vertical alignment of children */
    text-align: center; /* For consistent text alignment */
    margin: auto; /* Center the container itself horizontally */
}

title {
    font-size: xx-large;
    padding: 20px 0;
}


.index-product {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
}

@media (max-width: 992px) {
    .index-product {
        grid-template-columns: repeat(3, 1fr); /* 3 columns for tablets */
    }
}

@media (max-width: 768px) {
    .index-product {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller devices */
    }
}

@media (max-width: 576px) {
    .index-product {
        grid-template-columns: 1fr; /* 1 column for phones */
    }
}


.index-product-box {
    background-color: #eeeee6;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 50px;
    color: black;

    max-height: 300px;
    height: 300px;

    width: 220px;

    position: relative;
}

.index-product-box img {
    height: 100px;
    filter: drop-shadow(0 50px 20px #0009);
}

.index-product-box h2 {
    margin-top: 10px;
    font-size: large;
    font-weight: 700;
}

.index-product-box:hover {
    background-color: #7c1919d7;
    color: #eeeee6;
}

.index-product-box .price {
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
}



.add_button {
    color: black;
    padding-top: 20px;
    font-size: 12px;
    margin-bottom: 5px;
}

.add_button:hover {
    color: #eeeee6;
}



.button {
    --main-focus: #2d8cf0;
    --font-color: #dedede;
    --bg-color-sub: #222;
    --bg-color: #323232;
    --main-color: #dedede;
    position: relative;
    width: 180px;
    height: 80px;
    max-height: 80px;

    cursor: pointer;
    display: flex;
    align-items: center;

    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    overflow: hidden;

    position: absolute; 
    bottom: 10px;
}

.button, .button__icon, .button__text {
    transition: all 0.3s;
    text-align: center;
}

.button__text {
    max-width: 110px;
}

.button .button__text {
    transform: translateX(20px);
    color: var(--font-color);
    font-weight: 600;
    font-size: 12;
}

.button .button__icon {
    position: absolute;
    transform: translateX(139px);
    height: 100%;
    width: 39px;
    background-color: var(--bg-color-sub);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button .svg {
    width: 20px;
    stroke: var(--main-color);
}

.button:hover {
    background: var(--bg-color);
}

.button:hover .button__text {
    color: transparent;
}

.button:hover .button__icon {
    width: 180px;
    transform: translateX(0);
}

.button:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px var(--main-color);
}


.button.orange {
    background-color: orange;
    color: white;
    cursor: not-allowed;
}

.button[disabled] {
    cursor: not-allowed;
    opacity: 0.7;
}



.no_ret {
    position: relative;
    width: 100px;
    height: 80px;
    max-height: 80px;
    position: absolute; 
    bottom: 0;
    margin-left: 40px;
}